{% for newsitem in newsitems %}
<div class="newsitem">
    <h3>{{ newsitem.title }}</h3>
    <p class="newsitem-date"> {{ newsitem.publishDate }} </p>
    <p class="newsitem-teaser">
        {{ newsitem.teaser }}
    </p>
    <p>
        {{ newsitem.text }}
    </p>
</div>
{% endfor %}
