[submodule "libs/node_modules/coffee-script"]
	path = libs/node_modules/coffee-script
	url = https://github.com/jashkenas/coffee-script.git
[submodule "libs/node_modules/kyuri"]
	path = libs/node_modules/kyuri
	url = https://github.com/nodejitsu/kyuri.git
[submodule "libs/node_modules/vows"]
	path = libs/node_modules/vows
	url = https://github.com/cloudhead/vows.git
[submodule "libs/node_modules/zombie"]
	path = libs/node_modules/zombie
	url = https://github.com/assaf/zombie.git
[submodule "libs/node_modules/less"]
	path = libs/node_modules/less
	url = https://github.com/cloudhead/less.js.git
[submodule "libs/Elastica"]
	path = libs/Elastica
	url = https://github.com/ruflin/Elastica.git
[submodule "libs/phpDocumentor2"]
	path = libs/phpDocumentor2
	url = https://github.com/phpDocumentor/phpDocumentor2.git
[submodule "libs/node_modules/uglifyjs"]
	path = libs/node_modules/uglifyjs
	url = https://github.com/mishoo/UglifyJS.git
