<?xml version="1.0" encoding="UTF-8"?>
<ae:configurations xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.1" xmlns="http://agavi.org/agavi/config/parts/settings/1.0"
                   xmlns:xi="http://www.w3.org/2001/XInclude">
    <!--
    ####################
    DEFAULT
    ####################
    -->
    <ae:configuration>
        <system_actions>
            <system_action name="default">
                <module>Default</module>
                <action>Index</action>
            </system_action>
            <system_action name="error_404">
                <module>Default</module>
                <action>Error404</action>
            </system_action>
            <system_action name="login">
                <module>Auth</module>
                <action>Login</action>
            </system_action>
            <system_action name="module_disabled">
                <module>Default</module>
                <action>ModuleDisabled</action>
            </system_action>
            <system_action name="secure">
                <module>Default</module>
                <action>Secure</action>
            </system_action>
            <system_action name="unavailable">
                <module>Default</module>
                <action>Unavailable</action>
            </system_action>
        </system_actions>

        <settings>
            <setting name="app_name">PulqApplication</setting>
            <setting name="available">true</setting>
            <setting name="debug">false</setting>
            <setting name="use_database">true</setting>
            <setting name="use_logging">true</setting>
            <setting name="use_security">true</setting>
            <setting name="use_translation">true</setting>
            <setting name="auth_provider">LdapAuthProvider</setting>
            <setting name="test_bootstrap_tpl">%core.app_dir%/../testing/TestCaseMethod.tpl</setting>
        </settings>

        <settings prefix="ldap.">
            <setting name="host">ldap://localhost</setting>
            <setting name="base">dc=bo,dc=intern</setting>
            <setting name="base_user">ou=People,dc=bo,dc=intern</setting>
            <setting name="base_group">ou=Groups,dc=bo,dc=intern</setting>
            <setting name="user_search">uid</setting>
            <setting name="user_name_attr">cn</setting>
            <setting name="user_email_attr">mail</setting>
            <setting name="group_search">cn</setting>
            <setting name="group_object_class">posixGroup</setting>
            <setting name="group_member_attr">member</setting>
            <setting name="group_member_attr_is_dn">true</setting>
            <setting name="group_name_attr">cn</setting>
            <setting name="group_required">midas.editor</setting>
        </settings>

        <settings prefix="assets.">
            <setting name="mime_database">/usr/share/misc/magic.mgc</setting>
            <setting name="base_dir">%core.app_dir%/../data/assets</setting>
        </settings>

        <settings prefix="resources.">
            <setting name="global_dir">%core.app_dir%/resources</setting>
        </settings>

        <exception_templates>
            <exception_template>%core.agavi_dir%/exception/templates/shiny.php</exception_template>
            <exception_template context="console">%core.agavi_dir%/exception/templates/plaintext.php</exception_template>
        </exception_templates>

    </ae:configuration>

    <!--
    ####################
    STAGE
    ####################
    -->
    <ae:configuration environment="stage">
    </ae:configuration>


    <!--
    ####################
    DEVELOPMENT COMMONS
    ####################
    -->
    <ae:configuration environment="development.*">
        <settings>
            <setting name="debug">true</setting>
        </settings>
    </ae:configuration>

    <!--
    ####################
    TESTING
    ####################
    -->
    <ae:configuration environment="testing.*">
        <settings>
            <setting name="debug">true</setting>
        </settings>        
    </ae:configuration>

</ae:configurations>
