<div class="container" style="margin-top: 40px">
	<div class="content">
		<div class="page-header">
			<h1>{{ _title }}</h1>
		</div>
		<div class="row error">
			<p class="url">
				URL:  {{ url }}
			</p>
			<div class="module">
				{{ _module }}
			</div>
			<div class="action">
				{{ _action }}
			</div>
			<div class="messages">
			</div>
		</div>
	</div>
</div>
