<div class="container-fluid wrapper">
	<div class="row-fluid">
        <div class="span12">
            <h1>{{ac("core.app_name")}}</h1>
            <hr />
            <dl>
                <dt>Datum</dt><dd>{{ date()|date('d.m.Y') }}</dd>
                <dt>Zeit</dt><dd>{{ date()|date('H:i') }}</dd>
                <dt>Environment</dt><dd>{{ environment }}</dd>
            </dl>
            <hr />
        </div>
	</div>
</div>
