<div class="dropdown" id="{{ menuId }}">
<a class="dropdown-toggle" data-toggle="dropdown" href="#{{ menuId }}">
Bezirk
<b class="caret"></b>
</a>
<ul class="dropdown-menu">
{% for district in districts %}
<li><a href="{{ district.url }}">{{ district.full_name }}</a></li>
{% endfor %}
</ul>
</div>

