<div class="container-fluid wrapper">
	<div class="row-fluid">
        <div class="span12">
            <h1>Willkommen im Honeybee CMF</h1>
            <hr />
            <ul class="dl-horizontal">
                <li><b class="label label-info">Datum</b>  {{ date()|date('d.m.Y') }}</li>
                <li><b class="label label-info">Zeit</b>  {{ date()|date('H:i') }}</li>
                <li><b class="label label-info">Status</b>  Bereit</li>
            </ul>
            <hr />
        </div>
	</div>
    <div class="push"></div>
</div>
