<div class="container">
{% block inner %}
	<h1><strike>Bootstrap</strike> Pulq starter template</h1>
	<p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>
{% endblock %}
</div>