<?xml version="1.0" encoding="UTF-8"?>
<ae:configurations 
    xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0" 
    xmlns="http://agavi.org/agavi/config/parts/settings/1.0"
    xmlns:xi="http://www.w3.org/2001/XInclude">
    <ae:configuration>
        <!--
             Use this block to override the default system actions.

             E.g. you probably want to have an "index" page that uses
             on of your projects actions.
        -->
        <!--
        <system_actions>
            <system_action name="default">
                <module>Index</module>
                <action>Index</action>
            </system_action>
        </system_actions>
        -->

        <settings>
            <!-- Change this to whatever you like to name your project -->
            <setting name="app_name">Yet another Pulq application</setting>
            <!--
                 DBs are disabled by default to give you a working site
                 even without DBs being configured
            -->
            <setting name="use_database">false</setting>
        </settings>

        <settings prefix="minify.">
            <setting name="js">false</setting>
            <setting name="css">false</setting>
        </settings>
    </ae:configuration>
</ae:configurations>


